@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body{
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #152623;
}


.container{
  width: 95%;
  height: 95vh;
  display: flex;
  box-shadow: 5px 5px 10px  rgba(0, 0, 0, .212);
  overflow: hidden;
}

.formimage{
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #D2DDDC;
  padding: 1rem;
}

.formimage img{
  width: 50rem;

}


label{
  margin-bottom: 5px;
  margin-top: 5px;
}
#tamanho{
  height: 80%;
}

.form{
  width: 100%;
  max-width: 800px; /* Defina um tamanho máximo para o formulário */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #ffff;
  padding: 3rem;
  overflow-y:auto ;
}

/* .form{
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #ffff;
  padding: 3rem;
} */


.formheader{
  margin-bottom: 3rem;
  display: flex;
  justify-content: space-between;

}

.formheader h1{
  position: relative;
}
.logintbutton{
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.logintbutton  button{
  border:none;
  background-color: #152623;


  padding: 0.4rem 1rem;
  border-radius: 5px;
  cursor: pointer;
}

.logintbutton  button:hover{
background-color: #105F64;
}

.logintbutton button a{
  text-decoration: none;
  font-weight: 500;
  color: #ffff;
}

.formheader h1::after{
  content: '';
  display: block;
  width: 5rem;
  height: 0.3rem;
  background-color:#105F64 ;
  margin: 0 auto;
  position: absolute;
  border-radius: 10px;
}

.input-goup{
  display: flex;
  justify-content: space-between;
  width: 100%;

 /* Adiciona um espaçamento entre os grupos de inputs */
}

/* .input-goup{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 1rem;
  flex-direction: row;
} */

.input-box{
  display: flex;
  flex-direction: column;

}
.input-box{

  width: 80%; /* Define uma largura para cada input-box para que fiquem lado a lado */
}


.input-box input{
  width: 100%;
  padding: 0.8rem 1.2rem;
  border: none;
  border-radius: 10px;
  box-shadow: 1px 1px 6px #0000001c;
 
}

/* .input-box input{
  margin: 0.6rem 0;
  padding: 0.8rem 1.2rem;
  border: none;
  border-radius: 10px;
  box-shadow: 1px 1px 6px #0000001c;
} */

.input-box input:hover{
  background-color: #9EB09D;
}

.input-box input:focus-visible{
  outline: 1px solid #105F64;
}

.input-box label .gender-title h6{
 font-size: 0.75rem;
 font-weight: 600;
color: #000000c0
}

.input-box input::placeholder{
  color: #000000c0
}

.gender-group{
display: flex;
justify-content: space-between;
margin-top: 0.62rem;
padding: 0 0 .5rem;
}

.gender-input{
  display: flex;
  align-items: center;
}

.gender-input input{
  margin-right: 0.35rem;
}

.gender-input label{
  font-size: 0.81rem;
  font-weight: 600;
  color:#000000c0
}

/* .botao button{
  width: 100%;
  margin-top: 2rem;
  border: none;
  background-color:#105F64;
  padding: 0.62rem;
  border-radius: 5px;
  cursor: pointer;
} */

.botao button{
  width: 100%;
  max-width: 400px; /* Defina um tamanho máximo para o botão cadastrar */
  margin-top: 1rem;
  border: none;
  background-color:#105F64;
  padding: 0.62rem;
  border-radius: 5px;
  cursor: pointer;
}

.botao button:hover{
  background-color: #9EB09D;
}

.botao button {
  text-decoration: none;
  color: #ffff;
}

@media screen and (max-width:1330px){
  .formimage{
    display: none;
  }
  .container{
    width: 50%;
  }
  .form{
    width: 100%;
  }
}

@media screen  and (max-width: 1064px) {
  .container{
    width: 90%;
    height: auto;
  }

  .input-goup{
    flex-direction: column;
    overflow-y: scroll;
    flex-wrap: nowrap;
    max-height: 10rem;
    padding-right: 5rem;

  }
  .gender-input{
    margin-top: 2rem;
  }
  .gender-group{
    flex-direction: column;
  }
}