@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&family=Inter:wght@100..900&family=League+Spartan:wght@100..900&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Barlow', 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

:root {
  --tamanho-header: 80px;
  --tamanho-footer: 65px;
  scroll-behavior: smooth;
}

.inicial {
  width: 100%;
  height: 100vh;
  background-image: url(../assets/fundo-inicial.svg);
  background-size: cover;
  background-position: left;
  position: absolute;
}

.inicial button {
  background-color: #9EB09D;
  font-family: 'League Spartan', sans-serif;
  color: #FFFFFF;
  width: 30%;
  height: 50px;
  border-color: #9EB09D;
  border-radius: 25px;
  font-size: 100%;
  margin-top: 10px;
  text-decoration: none;
}

.inicial button a {
  text-decoration: none;
  /* Remover decoração de texto */
  color: inherit;
  /* Herdar a cor do texto do botão */
}

.container {
  display: flex;
  width: 80%;
  margin: auto;
}

.header {
  position: fixed;
  top: 2%;
  left: 0;
  width: 100%;
  z-index: 1000;
  /* Garante que o header fique acima do conteúdo */
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: var(--tamanho-header);
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  padding: 0 20px;
  /* Adiciona espaçamento interno */
}

.header ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

.header .container {
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.header a {
  text-decoration: none;
  color: #152623;
  position: relative;
}

.header a::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: #152623;
  transition: width 0.3s;
  position: absolute;
  bottom: -5px;
  left: 0;
}

.header a.selected::after {
  width: 100%;
}

.imagem {
  align-items: center;
  /* Centralizar verticalmente */
  height: 100vh;
  /* Definir a altura da imagem para ocupar toda a altura da tela */
  width: 40dvw;
  display: flex;
  flex-direction: column;
  margin-top: 8%;
  text-align: center;
}

img {
  width: 60vw;
  height: 50vh;
  justify-content: center;
  align-self: center;
}

#slogan {
  font-family: 'Cinzel Decorative', sans-serif;
  font-size: 25px;
  width: 100%;
  margin-top: -5%;
}

#oque-e {
  position: relative;
  /* Torna a posição relativa ao elemento pai */
  top: 100vh;
  /* Move a div para baixo de uma altura igual à altura da tela */
  height: 100vh;
  display: flex;
}

#lateral {
  display: flex;
  background-color: #9EB09D;
  width: 50%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

#lateral img {
  width: 60%;
  height: auto;
}

.conteudo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  height: 100%;
  text-align: center;
}

.botoes-laterais {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
  margin-left: -50px;
  /* Ajusta a posição dos botões para colar na imagem */
}


.texto-expansivel {
  opacity: 0;
  background-color: #9EB09D;
  color: #FFFFFF;
  width: 500px;
  height: 400px;

  padding: 10px;
  border-radius: 0;

  box-sizing: border-box;
  margin-top: 10px;
  pointer-events: none;
  position: absolute;
  left: 220px;
  transition: all 0.5s;

}

.expande-container {
  display: flex;
  align-items: center;
  margin: 10px 0;
  position: relative;
  /* Adicione position: relative */
}

.expande-btn {
  color: #FFFFFF;
  width: 200px;
  height: 50px;
  border: none;
  border-radius: 0;
  font-size: 16px;
  cursor: pointer;
  position: relative;
  z-index: 1;
  background-color: #9EB09D;
  transition: all 0.5s;
}

.expande-btn-clicked {
  transform: scale(1.2);
  /* Aumenta o tamanho do botão em 20% */
}



.barra {
  display: none;
  width: 0;
  height: 50px;
  background-color: #9EB09D;
  transition: width 0.3s ease-out;
  z-index: 0;
  /* Garantindo que a barra esteja abaixo do botão */
  position: absolute;
  top: 0;
  /* Alinhe a barra com o topo do contêiner pai */
  left: 0;
  /* Alinhe a barra com a esquerda do contêiner pai */
}

.expande-container.expanded .barra {
  display: block;
  width: 50px;
}

.expande-container.expanded .texto-expansivel {
  opacity: 1;
  pointer-events: all;
}


#autora {
  position: relative;
  /* Torna a posição relativa ao elemento pai */
  top: 100vh;
  /* Move a div para baixo de uma altura igual à altura da tela */
  flex-direction: row;
  background-color: #FFFAFA;
 
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

#onu-livros {
  position: relative;
  /* Torna a posição relativa ao elemento pai */
  top: 100vh;
  /* Move a div para baixo de uma altura igual à altura da tela */
  flex-direction: row;
  height: 100vh;
  justify-content: center;
  display: flex;
  align-items: center;
  min-height: 100vh;
  padding: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f5f5f5; /* Optional: change the background color as needed */
}

.card {
  background-color: #9EB09D;
  border-radius: 15px;
  width: 200px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  height: 400px;
  margin: 2%;
}

.card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-image {

  height: 100px;

}

.card-image .card-img {

  height: 100%;
  object-fit: contain;
}

.card-text p {
  font-size: 14px;
  color: black;
  margin: 0;
}


.slide-content {
  margin: 0 40px;
}



.image-content {
  display: flex;
  padding: 10px 14px;
  flex-direction: center;
}

.image-content {
  position: relative;
  row-gap: 5px;
}

.overlay::before,
.overlay::after {
  content: '';
  position: absolute;
  right: 0;
  bottom: -40px;
  height: 40px;
  width: 40px;
  background-color: red;
}

.ouverlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #152623;
  border-radius: 25px 25px 0 25px;
}

.card-image {
  position: relative;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  padding: 3px;
}

.card-image .card-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.name {
  font-size: 18px;
  font-weight: 5000;
  color: black;
}

.desc {
  font-size: 14px;
  color: gray;
  text-align: center;
}

.button {
  border-color: none;
  font-size: 16px;
  color: #FFFFFF;
  padding: 8px 16px;
  background-color: blue;
  border-radius: 6px;
  margin: 14px;
  transition: all 0.3s ease;
}

.button:hover {
  background-color: fuchsia;
}


.profile-picture {
  width: 550px;
  height: 550px;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 20px; /* Adiciona margem abaixo da imagem */
 
}

.profile-picture img {
  width: 100%;
  height: auto;
  display: block;
}

.text-container {

  padding: 10px;
  max-width: 1000px;
  height: 50%;
  text-align: center;
  background-color: #D2DDDC;
  margin-left: 10%;
}

.text-container p {
  margin: 0 auto; /* Centraliza o texto horizontalmente */
}

.carousel-container {
  width: 80%;
  margin: 0 auto;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel {
  display: flex;
  overflow: hidden;
  width: 100%;
  transition: transform 1s ease;

}

.carousel-card {
  flex: 0 0 33.3333%;
  max-width: 33.3333%;
  padding: 0 10px;
  opacity: 0.5;
  transform: scale(0.8);
  transition: transform 0.5s ease, opacity 0.5s ease;

}

.carousel-card.active {
  transform: scale(1.1);
  opacity: 1;
}

.card-content {
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
}

.card-image {
  width: 100%;
  height: 150px;
  overflow: hidden;
  border-radius: 10px;
  margin-bottom: 10px;
}

.card-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-text {
  font-size: 16px;
}

.carousel-control {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  border: none;
  font-size: 24px;
  cursor: pointer;
  z-index: 10;
}

.carousel-control.prev {
  left: 10px;
}

.carousel-control.next {
  right: 10px;
}
