body {
  margin: 0;
  padding: 0;
  font-family: 'Barlow', 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #FFFFFF;
  display: flex;

}



.janela {
  display: flex;
  background-color: #FFFFFF;
  /* width: 100vw; */
}

.header-left a {
  text-decoration: none;
  color: white;
}

.header-left {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  height: 100vh;
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-right: 3px solid #D2DDDC;
  background-color: #D2DDDC;
}

.dash-right {
  display: flex;
  width: 70%;
  height: fit-content;
  background-color: #161618;
  position: relative;
  top: 0;
  left: 25%;
  height: 100vh;
  overflow: auto;
}

.header-left h1 {
  color: #32b9cd;
}

.label-captura {
  display: flex;
  justify-content: center;
  height: 80px;
}

.dash-right .avisos {
  width: 100%;
  color: #161618;
  font-family: 'Barlow', 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.dash-right .avisos .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dash-right .avisos .container .div-form {
  width: 95%;
}

.dash-right .avisos .container .div-form label {
  width: 95%;
}

.dash-right .avisos .container .div-form input {
  width: 95%;
  border-radius: 5px;
}

.dash-right .avisos .container .div-form textarea {
  width: 95%;
  border: 3px solid #E9F4E3;
  background-color: white;
  border-radius: 5px;
}

.dash-right .avisos .container .div-form button {
  cursor: pointer;
  font-family: 'Barlow', 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border: 0;
  border-radius: 5px;
  font-weight: 600;
  font-size: 18px;
  padding: 10px 15px;
  color: white;
  background-color: #e6005a;
  width: 120px;
}

.publicacao-btn-editar {
  cursor: pointer;
  font-family: 'Barlow', 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border: 0;
  border-radius: 10px;
  font-weight: 600;
  font-size: 14px;
  padding: 5px 8px;
  color: white;
  background-color: #152623;
  width: 80px;
}

.publicacao {
  display: flex;
  flex-wrap: wrap;
  align-content: stretch;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  border-bottom: 3px solid #9EB09D;
  background-color: #9EB09D;
  padding: 20px;
  border-radius: 10px;
}

.publicacao > *:not(:last-child) {
  padding: 0 0 10px 0;
}

/* pagina graficos */

.cards {
  background-color: #FFFFFF;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 100vh;
  width: 100%;
  align-items: center;
  color: white;
  overflow: auto;
}

.card-aquario {
  margin: 2%;
  min-width: 40%;
  max-width: 50%;
  width: fit-content;
  flex-wrap: wrap;
  display: flex;
  height: 180px;
  background-color: #212124;
  font-size: 20px;
}

.card-aquario h1 {
  width: fit-content;
}

.card-aquario p {
  margin: 0;
  font-size: 50px;
  font-weight: lighter;
  text-align: left;
}

.desc-aquario {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.desc-aquario .cor-alerta {
  width: 30px;
}

.title-aquario {
  width: 100%;
}



.hello {
  width: 100%;
  display: flex;
  justify-content: center;
}

.hello h3 {
  color: #161618;
  font-weight: 300;
  font-size: 1.2rem;
}

.hello h3 span {
  font-weight: 800;
}

.btn-nav {
  width: 40%;
  color: white;
  background-color: #9EB09D;
  border-radius: 5px;
  text-align: center;
  padding: 2% 5%;
}

.btn-nav-white {
  width: 40%;
  background-color: #D2DDDC;
  border: 3px solid #81B29A;
  border-radius: 5px;
  text-align: center;
  padding: 2% 5%;
}

.btn-nav-white h3 {
  color: #385142;
  padding: 0;
  margin: 0;
}

.btn-nav h3,
.btn-logout h3 {
  margin: 0;
  padding: 0;
}

.btn-logout {
  margin: 0;
  padding: 0;
  width: 20%;
  background-color: #32b9cd;
  color: white;
  border-radius: 10px;
  text-align: center;
  padding: 10px 15px;
  margin-bottom: 100px;
  cursor: pointer;
}



.publica {
  margin-left: 15vw;
  background-color: #385142;
  width: 50vw;
  border-radius: 15px;
  height: 40vh;
  margin-top: 2rem;
  margin-top: 1rem;
  justify-content: center;
  display: flex;
  /* Allow child elements to align horizontally */
}


.conteudo {

  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.titulo {

  height: 30%;
  text-align: center;
  margin-top: 1rem;
  font-size: 20px;
 
}

.desc {
 
  height: 60%;
}

.comentarios {

  width: 10%;
  height: 20%;
  display: flex;
  cursor: pointer;
}

#titulo {  
  color: #D2E6C7;

}


.config{

  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  margin-left: 20%;
  justify-content: center;
  align-items: center;

}

#config{

  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  margin-left: 20%;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;

}

.foto{

  width: 20%;
  height: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


.profile-picture {

  margin-left: 5%;
  width: 80%;
  height: 70%;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 20px; /* Adiciona margem abaixo da imagem */
  display: flex;
  justify-content: start;
 
}

.profile-picture img {
  width: 100%;
  height: auto;
  display: flex;
}

.info{

  width: 60%;
  height: 40%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-left: 2%;
  flex-wrap: wrap;
}

.infomacoes{

  width: 30%;
  height: 30%;
  display: flex;
  justify-content: space-evenly;
  align-items: start;
  margin-left: 2%;

}

.infomacoes iframe{
  display: flex;
  align-items: start;
  flex-direction: column;
  justify-content: start;
}
.dados{
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40%;
}
.dados input{
  border-style: none;
  width: 70%;
  height: 40%;
  background-color: white;
  margin-bottom: 1px;
}

.dados label{
  border-bottom: 1px solid gray;
}
.dados button{
  border-style: none;
  background-color: white;
  cursor: pointer;
  color:#152623

}

.dados button:hover{
  color:#578d6c
}

.dados #enviarinfo{
  display: flex;
  align-items: end;
  justify-content: end;
}

.cartoes{
  display: flex;
  justify-content: space-between;
}
.card {
  width: 280px;
  height: 480px;
  background: white;
  border-radius: 32px;
  padding: 3px;
  position: relative;
  box-shadow: #604b4a30 0px 70px 30px -50px;
  transition: all 0.5s ease-in-out;
}


.card .profile-pic {
  position: absolute;
  width: calc(100% - 6px);
  height: calc(100% - 6px);
  top: 3px;
  left: 3px;
  border-radius: 29px;
  z-index: 1;
  border: 0px solid #fbb9b6;
  overflow: hidden;
  transition: all 0.5s ease-in-out 0.2s, z-index 0.5s ease-in-out 0.2s;
}

.card .profile-pic img {
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
  height: 100%;
  -o-object-position: 0px 0px;
  object-position: 0px 0px;
  transition: all 0.5s ease-in-out 0s;
}

.card .profile-pic svg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: 0px 0px;
  object-position: 0px 0px;
  transform-origin: 45% 20%;
  transition: all 0.5s ease-in-out 0s;
}

.card .bottom {
  position: absolute;
  bottom: 3px;
  left: 3px;
  right: 3px;
  background: #fbb9b6;
  top: 80%;
  border-radius: 29px;
  z-index: 2;
  box-shadow: rgba(96, 75, 74, 0.1882352941) 0px 5px 5px 0px inset;
  overflow: hidden;
  transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
}

.card .bottom .content {
  position: absolute;
  bottom: 0;
  left: 1.5rem;
  right: 1.5rem;
  height: 160px;
}

.card .bottom .content .name {
  display: block;
  font-size: 1.2rem;
  color: white;
  font-weight: bold;
}

.card .bottom .content .about-me {
  display: block;
  font-size: 0.9rem;
  color: white;
  margin-top: 1rem;
}


.about-me{
  margin-bottom: 5rem;
}
.card .bottom .bottom-bottom {
  position: absolute;
  bottom: 1rem;
  left: 1.5rem;
  right: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}






.card .bottom .bottom-bottom .button {
  background: white;
  color: #fbb9b6;
  border: none;
  border-radius: 20px;
  font-size: 0.6rem;
  padding: 0.4rem 0.6rem;
  box-shadow: rgba(165, 132, 130, 0.1333333333) 0px 5px 5px 0px;
}

.card .bottom .bottom-bottom .button:hover {
  background: #f55d56;
  color: white;
}

.card:hover {
  border-top-left-radius: 55px;
}

.card:hover .bottom {
  top: 20%;
  border-radius: 80px 29px 29px 29px;
  transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0.2s;
}

.card:hover .profile-pic {
  width: 100px;
  height: 100px;
  aspect-ratio: 1;
  top: 10px;
  left: 10px;
  border-radius: 50%;
  z-index: 3;
  border: 7px solid #fbb9b6;
  box-shadow: rgba(96, 75, 74, 0.1882352941) 0px 5px 5px 0px;
  transition: all 0.5s ease-in-out, z-index 0.5s ease-in-out 0.1s;
}

.card:hover .profile-pic:hover {
  transform: scale(1.3);
  border-radius: 0px;
}

.card:hover .profile-pic img {
  transform: scale(2.5);
  -o-object-position: 0px 25px;
  object-position: 0px 25px;
  transition: all 0.5s ease-in-out 0.5s;
}

.card:hover .profile-pic svg {
  transform: scale(2.5);
  transition: all 0.5s ease-in-out 0.5s;
}